<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bookManageSystem.business.anonymous.mapper.AnonymousMapper">
    <sql id="book_fields">
         ID,NAME,PREFIXID,NUMBER,RENTNUMBER,BOOKTYPEID,COUNT,APPID
     </sql>
    <resultMap id="bookResultMap" type="book">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="prefixId" column="PREFIXID"/>
        <result property="number" column="NUMBER"/>
        <result property="rentNumber" column="RENTNUMBER"/>
        <result property="bookTypeId" column="BOOKTYPEID"/>
        <result property="count" column="COUNT"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <select id="getCommendBook" parameterType="map" resultType="map">
        SELECT <include refid="book_fields"/>
        FROM book as b
        WHERE appId=#{appId} and bookTypeId=#{bookTypeId}
        ORDER BY `count` DESC
        LIMIT 5
    </select>
</mapper>