<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bookManageSystem.business.bookAnalyse.mapper.BookAnalyseMapper">
    <resultMap id="subBookResultMap" type="SubBook">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="number" column="NUMBER" />
        <result property="rentNum" column="RENTNUM"/>
        <result property="totalNum" column="TOTALNUM"/>
        <result property="bookTypeId" column="BOOKTYPEID"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <select id="getSubBookList" parameterType="java.lang.Long" resultMap="subBookResultMap">
      SELECT b.id as id,b.name as name,b.number as number,b.rentNumber as rentNum,b.count as totalNum,b.bookTypeId as bookTypeId,b.appId as appId
      FROM book as b
      WHERE b.appId=#{appId}
    </select>

    <select id="getReaderBookByAppId" parameterType="java.lang.Long" resultType="map">
        select r.readerId as readerId,r.bookSet as bookSet
        from readerrecord as r
        where appId=#{appId}
    </select>
</mapper>